.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-image: repeating-linear-gradient(45deg,
  transparent,
  transparent 8px,
  #f2f2f2 8px,
  #f2f2f2 16px);
}

.MainContainer {
  background-color: white;
  min-height: 100vh;
}
